@media (min-width: 1025px) {
  #page {
    background-size: 100% 500px;
  }
  h1 {
    font-size: 60px;
    line-height: 64px;
  }
}

@media (max-width: 768px) {
  #page {
    background-image: none;
    background-color: white;
  }
  .site-branding .site-title {
    width: 100%;
  }
  .other-ways-menu {
    top: 120px;
    width: 100%;
  }
  .other-ways-content {
    top: 190px;
    width: 100%;
  }
}
